<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <distributable/>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>pasarNombreUsuario</servlet-name>
        <servlet-class>com.sisedu.controller.NombreUsuarioRegistroPagos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NombreUsuarioRegistroAlumnos</servlet-name>
        <servlet-class>com.sisedu.controller.NombreUsuarioRegistroAlumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>registroHorarioServletController</servlet-name>
        <servlet-class>com.sisedu.controller.registroHorarioServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenerReporteAsistenciaServletController</servlet-name>
        <servlet-class>com.sisedu.controller.obtenerReporteAsistenciaServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingresoNotasProfesorServletController</servlet-name>
        <servlet-class>com.sisedu.controller.ingresoNotasProfesorServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>impresionReporteServletController</servlet-name>
        <servlet-class>com.sisedu.controller.impresionReporteServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reporteNotasAlumnoServletController</servlet-name>
        <servlet-class>com.sisedu.controller.reporteNotasAlumnoServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenerConsolidadoNotasServletController</servlet-name>
        <servlet-class>com.sisedu.controller.obtenerConsolidadoNotasServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>habilitarNotaServletController</servlet-name>
        <servlet-class>com.sisedu.controller.habilitarNotaServletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NombreUsuarioRegistroAlumnos</servlet-name>
        <url-pattern>/NombreUsuarioRegistroAlumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registroHorarioServletController</servlet-name>
        <url-pattern>/Formularios/registroHorarioServletController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenerReporteAsistenciaServletController</servlet-name>
        <url-pattern>/Formularios/obtenerReporteAsistenciaServletController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingresoNotasProfesorServletController</servlet-name>
        <url-pattern>/Formularios/ingresoNotasProfesorServletController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>impresionReporteServletController</servlet-name>
        <url-pattern>/Formularios/impresionReporteServletController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reporteNotasAlumnoServletController</servlet-name>
        <url-pattern>/Formularios/reporteNotasAlumnoServletController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenerConsolidadoNotasServletController</servlet-name>
        <url-pattern>/Formularios/obtenerConsolidadoNotasServletController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>habilitarNotaServletController</servlet-name>
        <url-pattern>/Formularios/habilitarNotaServletController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>101</error-code>
        <location>/error.jsp</location>
    </error-page>
    <resource-ref>
        <description>Notas DataSource</description>
        <res-ref-name>jdbc/siseduDesarrolloNotasWallon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
