.TABLE-TITLEALUMNOREPORTE h3 {
    color: #fafafa;
    font-size: 10px;
    font-weight: 400;
    font-style:normal;
    font-family: "Arial", serif;
    /*font-family: "Roboto", helvetica, arial, sans-serif;*/
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
}

.TABLE-CONSULTAALUMNOREPORTE {
    background: white;
    border-radius:5px;
    border-collapse: collapse;
    /*height: 320px;
    margin: auto;*/
    max-width: 800px;
    padding:10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    padding-left: 6px;
    margin-left: 0px;
    margin-right: 60px;
    table-layout: fixed;
}

.TABLE-CONSULTAALUMNOREPORTE th {
    color:#D5DDE5;;
    background:#BF120D;
    border-bottom:1px solid #FFFFFF;
    border-right: 1px solid #343a45;
    font-size:16px;
    font-weight: 100;
    font-weight: bold; 
    /*width: 1000px;*/
    /*padding:24px;*/
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
    width: 80px;
    overflow:hiden;
}


.TABLE-CONSULTAALUMNOREPORTE th:first-child {
    border-top-left-radius:3px;
}

.TABLE-CONSULTAALUMNOREPORTE th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

.TABLE-CONSULTAALUMNOREPORTE tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    font-size:10px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.TABLE-CONSULTAALUMNOREPORTE tr:hover td {
    background:#1F0303;
    color:#FFFFAA;
    border-top: 1px solid #22262e;
    border-bottom: 1px solid #22262e;
}

.TABLE-CONSULTAALUMNOREPORTE tr:first-child {
    border-top:none;
}

.TABLE-CONSULTAALUMNOREPORTE tr:last-child {
    border-bottom:none;
}


.TABLE-CONSULTAALUMNOREPORTE tr:nth-child(odd):hover td {
    background:#1F0303;
}

.TABLE-CONSULTAALUMNOREPORTE tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

.TABLE-CONSULTAALUMNOREPORTE tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

.TABLE-CONSULTAALUMNOREPORTE td {
    background:#FFFFAA;
    /*padding:20px;*/
    font-weight: bold; 
    vertical-align:middle;
    /*font-weight:100;*/
    font-size:13px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    font-family: "Arial", serif;
    width: 80px;
}

.TABLE-CONSULTAALUMNOREPORTE th.text-left {
    text-align: left;
}

.TABLE-CONSULTAALUMNOREPORTE td.text-left {
    text-align: left;
}

.TABLE-CONSULTAALUMNOREPORTE td.text-right {
    text-align: right;
}

.TABLE-CONSULTAALUMNOREPORTE th.text-right {
    text-align: right;
}

.TABLE-CONSULTAALUMNOREPORTE th.text-center {
    text-align: center;
}

.TABLE-CONSULTAALUMNOREPORTE td.text-center {
    text-align: center;
}



